.jumbotron {
    margin-top: 40px;
    /*background: url("../img/featured.jpg") bottom center no-repeat;*/
    /*background-size: cover;*/
    color: #FFFFFF;
}
.jumbotron h1 {
    color: #FFFFFF;
    text-shadow: 0px 0px 5px #888888;
}
footer {
    border-top: 1px dashed #CCCCCC;
    margin: 40px 0px;
    padding: 20px 0px;
}

.padding-ontop {
    padding-top: 40px;
}

body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th {
    border: 0;
}

.calendar-lineup {
    font-size: medium;
}

div.lineup-liturgy-title {
    font-size: xx-large;
    padding: 20px 0;
    background: #b7b7b7;
    color: white;
}

div.lineup-liturgy-date {
    font-size: small;
    font-weight: bold;
    padding: 7px 0;
}

.lineup-panel {
    padding: 5px 0;
    border-bottom: thin solid black;
}
.lineup-song-title {
    font-size: large;
}

.lineup-song-composer {
    font-size: small;
    color: #9e9e9e;
    padding: 0 10px;
}

.form-error {
    font-size: small;
    font-style:italic;
    color: red;
}

.lineup-list{
    list-style-type: none;
}

.my-lineup-icon  {
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -99999px;
    padding: 5px;
    margin: 5px;
}

.transparent-background{
    background-color: transparent;
}

.lineup-media-border {
    border-top: thin solid #d6d6d6;
}

.section-border {
    border-bottom: thin solid #d6d6d6;
    margin-bottom: 5px;
}

/* --- */
.my-lineup-icon-guitar {
    background: url(../img/lineup/guitar-icon.png) bottom;
}

.my-lineup-icon-guitar:hover {
    background: url(../img/lineup/guitar-icon-hover.png) bottom;
}
.my-lineup-icon-guitar:active {
    background: url(../img/lineup/guitar-icon-click.png) bottom;
}

/* --- */
.my-lineup-icon-mp3 {
    background: url(../img/lineup/mp3-icon.png) bottom;
}

.my-lineup-icon-mp3:hover {
    background: url(../img/lineup/mp3-icon-hover.png) bottom;
}
.my-lineup-icon-mp3:active {
    background: url(../img/lineup/mp3-icon-click.png) bottom;
}

/* --- */
.my-lineup-icon-link {
    background: url(../img/lineup/link-icon.png) bottom;
}

.my-lineup-icon-link:hover {
    background: url(../img/lineup/link-icon-hover.png) bottom;
}
.my-lineup-icon-link:active {
    background: url(../img/lineup/link-icon-click.png) bottom;
}

/* --- */
.my-lineup-icon-vocal {
    background: url(../img/lineup/vocal-icon.png) bottom;
}

.my-lineup-icon-vocal:hover {
    background: url(../img/lineup/vocal-icon-hover.png) bottom;
}
.my-lineup-icon-vocal:active {
    background: url(../img/lineup/vocal-icon-click.png) bottom;
}

/* --- */
.my-lineup-icon-piano {
    background: url(../img/lineup/piano-icon.png) bottom;
}

.my-lineup-icon-piano:hover {
    background: url(../img/lineup/piano-icon-hover.png) bottom;
}
.my-lineup-icon-piano:active {
    background: url(../img/lineup/piano-icon-click.png) bottom;
}

/* --- */
.my-lineup-icon-other {
    background: url(../img/lineup/other-icon.png) bottom;
}

.my-lineup-icon-other:hover {
    background: url(../img/lineup/other-icon-hover.png) bottom;
}
.my-lineup-icon-other:active {
    background: url(../img/lineup/other-icon-click.png) bottom;
}
/* --- */
.my-lineup-icon-powerpoint {
    background: url(../img/lineup/powerpoint-icon.png) bottom;
}

.my-lineup-icon-powerpoint:hover {
    background: url(../img/lineup/powerpoint-icon-hover.png) bottom;
}
.my-lineup-icon-powerpoint:active {
    background: url(../img/lineup/powerpoint-icon-click.png) bottom;
}

.highlight-hover:hover {
    background-color: #efefef;
    cursor: pointer;
}

.facebook-icon {
    width: 24px;
    height: 24px;
}

.footer-top {
    margin-top: 50px;
}
