/************************************************************************/
/*		GLOBAL			*/
/************************************************************************/


html{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	}

body{
	color: #464646;
  	font-family: proxima-nova,sans-serif;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	}

#container {
	background-color: #f4f4f4;
	text-shadow: none;
	color: #333;
	width: 900px;
	margin: 0 auto;
	/*margin-left: auto;*/
}