/************************************************************************/
/*		LISTING			*/
/************************************************************************/


#listing {
	font-size: 18px;
}

/************************************************************************/
/*		SECTION			*/
/************************************************************************/
.section-name {
	width: 25px;
	/*height: 400px;*/
	padding: 0px;
	/*background: red;*/
	float: left;
	/*margin: 0px;*/
	/*display: inline;*/
}

.section-content {
	width: 875px;
	/*background: blue;*/
	/*height: 400px;*/
	margin-left: 25px;
/*	float: left;
*/	/*display: inline;*/
	/*padding: 0px;*/
	padding-bottom: 20px;
}
