/************************************************************************/
/*		GLOBAL			*/
/************************************************************************/


html{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	}

body{
	color: #464646;
  	font-family: proxima-nova,sans-serif;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	}
	

#container {
	background-color: #f4f4f4;
	text-shadow: none;
	color: #333;
	width: 900px;
	margin: 0 auto;
	/*margin-left: auto;*/
}



/************************************************************************/
/*		LITURGY			*/
/************************************************************************/

#liturgy-name {
  /*font-size: large;*/
  font-weight: bold;
  text-align: left;
  line-height: 50px;
  font-size: 30px;
  background-color: #e0e0e0;
  margin: 0px;
  padding: 0px;
}

#liturgy-date {
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

/************************************************************************/
/*		LISTING			*/
/************************************************************************/


#listing {
	font-size: 18px;
}

/************************************************************************/
/*		SECTION			*/
/************************************************************************/
.section-name {
	width: 25px;
	/*height: 400px;*/
	padding: 0px;
	/*background: red;*/
	float: left;
	/*margin: 0px;*/
	/*display: inline;*/
}

.section-content {
	width: 875px;
	/*background: blue;*/
	/*height: 400px;*/
	margin-left: 25px;
/*	float: left;
*/	/*display: inline;*/
	/*padding: 0px;*/
	padding-bottom: 20px;
}

/************************************************************************/
/*		ROW			*/
/************************************************************************/
/*.item-row {
	display: table;
	margin: 0px;
	padding: 0px;
}
.item-cell {
	display: table-cell;
	margin: 0px;
	padding: 0px;
}*/

.item-title {
	width: 25%;
	float: left;
}

.item-song {
	margin-left: 25%;
	width: 75%;
}

.item-divider {
	display: block;
	clear: both;
	width: 100%;
	padding-bottom: 8px;
}

.song-title {
	font-weight: bold;
}

.song-title:hover {
	font-weight: normal;
	color: blue;
}

.song-composers {
	font-size: 12px;
	padding-left: 5px;
}
/************************************************************************/
/*		SONG DETAILS			*/
/************************************************************************/
.song-details-container {
	text-align: left;
	margin-left: 25%;
	/*margin-bottom: 25px;*/
	/*padding-bottom: 100px;*/
	display: none;
}

.medium-listing {
	float: left;
	width: 100px;
	/*overflow:hidden;*/
	margin-left: auto;
	margin-right: 0px;
}

.medium-listing ul {
	list-style-type: none;
	padding: 0pt;
	margin: 0pt;
}

.detail-header {
	font-weight: normal;
	font-style: italic;
}

.detail-medium {
	font-weight: normal;
}

img.detail-image
{
	display: block;
	width: 24px;
	height: 24px;
	background:url(../img/play-24.png) 0 0;
}

img.detail-image:hover
{
	display: block;
	width: 24px;
	height: 24px;
	background:url(../img/play-24-hover.png) 0 0;
}

img.detail-image-pdf
{
	display: block;
	width: 24px;
	height: 24px;
	background:url(../img/pdf-24.png) 0 0;
}

img.detail-image-pdf:hover
{
	display: block;
	width: 24px;
	height: 24px;
	background:url(../img/pdf-24-hover.png) 0 0;
}

img.detail-image-link
{
	display: block;
	width: 24px;
	height: 24px;
	background:url(../img/link-24.png) 0 0;
}

img.detail-image-link:hover
{
	display: block;
	width: 24px;
	height: 24px;
	background:url(../img/link-24-hover.png) 0 0;
}



