/************************************************************************/
/*		GLOBAL			*/
/************************************************************************/


html{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	}

body{
	color: #464646;
	font-family: OswaldLight;
	background-color: #fff;
	text-shadow: 0px 1px 0px #fff;
	}
	
.wrapper{
	margin: 0 auto;
	width: 90%;
	max-width: 1080px;
	}





/************************************************************************/
/*		LITURGY			*/
/************************************************************************/

.container {
  	font-family: proxima-nova,sans-serif;
	background-color: #f4f4f4;
	color: #fff;
	text-shadow: none;
	color: #333;
	max-width: 900px;
	margin: 10px auto;
	/*margin-left: auto;*/
}

.listing {
	font-size: 18px;	
}

.medium-listing {
	float: left;
	width: 100px;
}

.medium-listing ul {
	list-style-type: none;	
}

.detail-header {
	font-weight: normal;
	font-style: italic;
}

.detail-medium {
	font-weight: normal;
}

img.detail-image
{
	width: 24px;
	height: 24px;
	background:url(img/play-24.png) 0 0;
}

img.detail-image:hover
{
	width: 24px;
	height: 24px;
	background:url(img/play-24-hover.png) 0 0;
}

img.detail-image-pdf
{
	width: 24px;
	height: 24px;
	background:url(img/pdf-24.png) 0 0;
}

img.detail-image-pdf:hover
{
	width: 24px;
	height: 24px;
	background:url(img/pdf-24-hover.png) 0 0;
}

img.detail-image-link
{
	width: 24px;
	height: 24px;
	background:url(img/link-24.png) 0 0;
}

img.detail-image-link:hover
{
	width: 24px;
	height: 24px;
	background:url(img/link-24-hover.png) 0 0;
}

.song-details {
	text-align: left;
	margin-left: 160px;
	display: none;
}


#liturgy-name {
  /*font-size: large;*/
  font-weight: bold;
  text-align: left;
  line-height: 50px;
  font-size: 30px;
  background-color: #e0e0e0;
}
#liturgy-date {
  font-size: 14px;
  text-align: left;
  line-height: 10px;
}


.section-name {
	float: left;
	width: 25px;
	padding: 2px 2px 10px 10px;
	display: block;
}
.section-content {
	margin-left: 26px;
	float: left;
	display: block;
	width: 100%;
}

.item-row {
	display: table;
}
.item-cell {
	display: table-cell;
}

#item-title {
	width: 200px;
}

#item-song {
	width: 400px;

}

.item-divider {
	display: block;
	clear: both;
	width: 100%;
}

.song-title {
	font-weight: bold;
}

.song-title:hover {
	font-weight: normal;
	color: red;
}

.song-composers {
	font-size: 12px;
	padding-left: 5px;
}

